<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" type="image/icon" href="../public/images/logo.png" />
    <link rel ="stylesheet" href ="../../public/stylesheets/custom.css">
    <link rel ="stylesheet" href ="../../public/stylesheets/bootstrap.min.css">
    <script src ="../public/javascripts/bootstrap.min.js" type ="text/javascript"></script>
    <title>Swastik|Child</title>
</head>
<body>
    <div class ="container-fluid top-strip">
        <div class ="row text-center">
            <div class ="col-md-4 col-xs-12"><img src ="../../public/images/logo.png" class ="img-responsive"><h5 id ="slogan">A Step Closer To Healthy India</h5></div>
            <div class ="col-md-4 col-xs-12"><img src ="../../public/images/satyamev.svg" class ="img-responsive">
                <h5 id ="header-title">Ministry of Women and Child Development
                    Government of India
                    </h5></div>
            <div class ="col-md-4 col-xs-12"><img src ="../../public/images/Towards a new dawn_Logo.png" class ="img-responsive"></div>
        </div>
        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
            <a class="navbar-brand" href="#">Swastik</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Register Parents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Register Child</a>
                  </li>
            </div>
          </nav><br>

<div class ="container-fluid">
    <div class ="row">
        <div class ="col-md-12  text-center"><h3>Vaccine Details</h3></div>
        <div class= "col-md-12 col-xs-12">
            <div class ="row">
                <div class ="col-md-3 col-xs-12 text-center">
                    <img src ="../../public/images/user.png" class ="img-responsive thumbnail">
                    <h5 class ="caption">Boruto</h5>
                </div>
                <div class ="col-md-9 col-xs-12">
                    <table class= "child-table table-reponsive">
                        <tr>
                            <td><lable>Name :</lable></td>
                            <td><%= Parent.name %></td>
                        </tr>
                        <tr>
                            <td>Phone no. :</td>
                            <td><%= Parent.phoneno %></td>
                        </tr>
                        <tr>
                            <td>email:</td>
                            <td><%= Parent.email %></td>
                        </tr>
                        <tr>
                            <td>spouse:</td>
                            <td><%= Parent.spouse %></td>
                        </tr>
                        <tr>
                            <td>Aadhar No.:</td>
                            <td><%= Parent.line1 %></td>
                        </tr>
                        <!-- <tr>
                            <td>Children :</td>
                            <td><% //Parent.children.forEach((data)=>{data}) %></td>
                        </tr> -->
                    </table><br>
                </div>
            </div>
        </div>
    </div>
</div>
<br><br>
<div class ="row text-center">
    <div class ="col-3"></div>
    <div class ="col-3"><a href ="#"><button class ="btn btn-warning">Get Parents</button></a></div>
    <div class ="col-3"><form action ="" method =""><button class ="btn btn-danger">End Session</button></form></div>
    <div class ="col-3"></div>
</div>
<br>
<div class ="row footer text-center navbar-light bg-light">
    <div class="col-md-12 col-xs-12">
        <p>Copyright Swastik</p>
    </div>
</div>
</body>
</html>
