<% var formData,image,gender,qr,css1,css2,barcode; %>
<script src="/public/javascripts/jquery.js"></script>
<link rel="stylesheet" href="/public/stylesheets/bootstrap.min.css">
<script src="/public/javascripts/bootstrap.min.js"></script>
<script src="/public/javascripts/JsBarcode.all.min.js"></script>

<link rel="stylesheet" href="/public/stylesheets/regSuccess.css">
<%= css1 %>
<%= css2 %>
<link href="https://fonts.googleapis.com/css?family=Libre+Barcode+128+Text" rel="stylesheet">
<style>
    .ss {
        font-family: 'Libre Barcode 128 Text', cursive;
        font-size: 48px;
    }
</style>
 <script>
    console.log("aa gaya");
    var x = 'swtk<%= formData.aadharno%>';
   // document.getElementById("barcode").innerHTML = x;
</script>




<!------ Include the above in your HEAD tag ---------->
<form action="/Register/downloadPdf" method="post">
<div class="container emp-profile">
    <form method="post">
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img" style="width:110%;height:180%;">
                    <img src="/public/uploads/<%- image %>">
                    <input style="display: none;" name="image" value="/public/uploads/<%- image %>">
                </div>
            </div>
            <div class="col-md-6">
                <div class="profile-head">
                    <h5 style="color:green;">
                        Registered Successfully
                    </h5>

                    <ul class="nav nav-tabs" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                aria-controls="home" aria-selected="true">Details</a>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="profile-img" style="margin-top:50%;width:110%;height:35%;">
                    <img id="barcode" src="<%= barcode %>">
                </div>
            </div>
            <div class="col-md-8">
                <div class="tab-content profile-tab" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p name="name"><%- formData.name %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="name" value='<%- formData.name %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Email</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><%- formData.email %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="email" value='<%- formData.email %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Gender</label>
                                    </div>
                                    <div class="col-md-6">
                                        <% if( formData.gender == 1 ) { gender = "Male";} %>
                                        <%  if( formData.gender == 2 ) { gender = "Female";} %>
                                        <%  if( formData.gender == 3 ) { gender = "Other";} %>
                                       <!--  <p><%- gender %></p> -->
                                       <input style="border:none;color:blue;font-weight:800;" name="gender" value='<%- gender %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Phone No.</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><%- formData.phoneno %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="phoneno" value='<%- formData.phoneno %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Spouse</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><%- formData.spouse %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="spouse" value='<%- formData.spouse %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Children</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><%- formData.children[0] %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="child" value='<%- formData.children[0] %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Aadhar No</label>
                                    </div>
                                    <div class="col-md-6">
                                       <!--  <p><%- formData.aadharno %></p> -->
                                       <input style="border:none;color:blue;font-weight:800;" name="aadharno" value='<%- formData.aadharno %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Address Details: </label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Line 1</label>
                                    </div>
                                    <div class="col-md-6">
                                       <!--  <p><%- formData.address[0].line1 %></p> -->
                                       <input style="border:none;color:blue;font-weight:800;" name="line1" value='<%- formData.address[0].line1 %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Line 2</label>
                                    </div>
                                    <div class="col-md-6">
                                       <!--  <p><%- formData.address[0].line2%></p> -->
                                       <input style="border:none;color:blue;font-weight:800;" name="line2" value='<%- formData.address[0].line2 %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>City </label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><%- formData.address[0].town_village %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="city" value='<%- formData.address[0].town_village %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Province</label>
                                    </div>
                                    <div class="col-md-6">
                                       <!--  <p><%- formData.address[0].province  %></p> -->
                                       <input style="border:none;color:blue;font-weight:800;" name="province" value='<%- formData.address[0].province %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>Pincode</label>
                                    </div>
                                    <div class="col-md-6">
                                        <!-- <p><%- formData.address[0].pincode %></p> -->
                                        <input style="border:none;color:blue;font-weight:800;" name="pincode" value='<%- formData.address[0].pincode %>'>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>State</label>
                                    </div>
                                    <div class="col-md-6">
                                       <!--  <p><%- formData.address[0].state %></p> -->
                                       <input style="border:none;color:blue;font-weight:800;" name="state" value='<%- formData.address[0].state %>'>
                                    </div>
                                </div>
                                <br>
                                
                               <!--  <div class="row">
                                    <div class="col-md-6">
                                       
                                    </div>
                                    <div class="col-md-6">
                                       <a href="/regSuccess"><button type="button" class="btn btn-primary">Download</button></a> 
                                    </div>
                                </div> -->
                                <hr>      
                                <button type="submit" class="btn btn-primary" >Download PDF</button>
                    </div>
                </form>
                   